<ul class="ulnav">
    <li class="ulnav"><a class="ulnav" href="/">home</a></li>
    <li class="ulnav"><a class="ulnav" href="/about">about</a></li>
    <li class="ulnav"><a class="ulnav" href="/guide-md">md</a></li>
    <li class="ulnav"><a class="ulnav" href="/origami">origami</a></li>
    <li class="ulnav"><a class="ulnav" href="/about-devices">my techs</a></li>
    <li class="ulnav"><a class="ulnav" href="https://colab.research.google.com/github/arifhamed/arifhamed.github.io/blob/main/static/others/torrent_webseed_creator.ipynb" target="_blank">torrent</a></li>
    <!-- <li class="ulnav"><a class="ulnav" href="/games/wordle">wordle</a></li> -->
    <li class="ulnav dropdown">
        <a class="dropbtn ulnav">games 
            <!-- <i class="fa fa-caret-down"></i> -->
        </a>
        <div class="dropdown-content">
            <a class="ulnav" href="/games/wordle">wordle</a>
            <a class="ulnav" href="/games/sudoku">sudoku</a>
            <a class="ulnav" href="/games/minesweeper">mines</a>
        </div>
            
    </li>
</ul>