<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="https://arifhamed.github.io/static/js/font-awesome.js" integrity="sha512-Mizub3M5oexqKMz/zqTjVpAMAQN/URWJVT6FnZGrMTDJRRfexw/K6KoKzDWGzF53rtHw47KHMbGRqcgcEYEnhQ==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://arifhamed.github.io/static/css/fontawesome.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous">

	<link rel="apple-touch-icon" sizes="57x57" href="/static/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/static/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
	<link rel="manifest" href="/static/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/static/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="/static/css/site.css">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<script> function apk(n){window.open("https://github.com/arifhamed/files-001/releases/download/main/" + n, "_self")}</script>

	{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <!-- <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div> -->

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	  
		<section id="main_content" class="inner">
		<!-- <ul class="ulnav">
			<li class="ulnav"><a class="ulnav" href="/">home</a></li>
			<li class="ulnav"><a class="ulnav" href="/about">about</a></li>
			<li class="ulnav"><a class="ulnav" href="/guide-md">md</a></li>
			<li class="ulnav"><a class="ulnav" href="/origami">origami</a></li>
			<li class="ulnav"><a class="ulnav" href="/about-devices">my techs</a></li>
			
		</ul> -->

			<!-- {% include breadcrumbs.html %} -->
			<a href="/APKs">&lt;&lt; Back to APKs Feed</a>

			<h1>{{ page.title }}</h1>
			
			<video muted autoplay loop onclick="this.paused ? this.play() : this.pause();">
				<source src="/static/webm{{ page.url }}.webm" type="video/webm"></source>
			</video>
			<br>
			<span style="font-size:75%;font-style:italic;">Click to play video, click again to pause</span><br><br>
			{% if page.play-link %}
			Play Store: <a href="{{ page.play-link }}" target="_blank"><i class='fab fa-google-play'></i></a><br>
			{% endif %}
			{% if page.app-link %}
				App Store: <a href="{{ page.app-link }}" target="_blank"><i class="fab fa-apple"></i></a><br>
			{% endif %}
			{% if page.steam-link %}
				Steam: <a href="{{ page.steam-link }}" target="_blank"><i class="fab fa-steam"></i></a><br>
			{% endif %}
			{% if page.itch-link %}
				itch.io: <a href="{{ page.itch-link }}" target="_blank"><i class="fab fa-itch-io"></i></a><br>
			{% endif %}
			<!-- {% if page.switch-link %}
				N. Switch: <a href="{{ page.switch-link }}" target="_blank"><i class="fab fa-nintendo-switch"></i></a><br>
			{% endif %} -->
			{{ content }}
			
			<script>
				var idcomments_acct = '829ca40905e3bc316f791cf19c9fb2e1';
				var idcomments_post_id;
				var idcomments_post_url;
			</script>
			<span id="IDCommentsPostTitle" style="display:none"></span>
			<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
		</section>
    </div>

    <!-- FOOTER  -->
    <!-- <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a><span style="color:#212121"><a href="/APKs">.</a></span></p>
      </footer>
    </div> -->

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
